<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicate</title>
</head>
<body>
    <h1>Delicate</h1>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Class:</strong> {{ class }}</p>
    <p><strong>NPM:</strong> {{ NPM }}</p>
    
    <ul>
        {% for product in products %}
        <li>
            <strong>Name:</strong> {{ product.Name }}<br>
            <strong>Price:</strong> {{ product.Price }}<br>
            <strong>Description:</strong> {{ product.Description }}<br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
