{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-[#ffcddf] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg space-y-8">
    <div>
      <h1 class="text-center text-4xl font-bold italic text-[#FF1A9C]">
        delicate
      </h1>
    </div>
    <form class="mt-8 space-y-6" method="POST">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="username" class="mb-2 font-semibold text-[#FF1A9C]">Username</label>
          <input id="username" name="username" type="text" required class="appearance-none rounded relative block w-full px-3 py-2 bg-[#ffe6ee] placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
        </div>
        <div>
          <label for="password" class="mb-2 font-semibold text-[#FF1A9C]">Password</label>
          <input id="password" name="password" type="password" required class="appearance-none rounded relative block w-full px-3 py-2 bg-[#ffe6ee] placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
        </div>
        <div>
          <label for="password_confirmation" class="mb-2 font-semibold text-[#FF1A9C]">Password Confirmation</label>
          <input id="password_confirmation" name="password_confirmation" type="password" required class="appearance-none rounded relative block w-full px-3 py-2 bg-[#ffe6ee] placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password Confirmation">
        </div>
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#FF1A9C] hover:bg-pink-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
          Register
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4">
      <p class="text-sm text-black">
        Already have an account?
        <a href="{% url 'main:login' %}" class="font-bold text-[#FF1A9C] hover:text-pink-600">
          Login here
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
